/*styling for products_home.html*/
/*concepts somehwat referenced from smartphone products 1*/

h1{
    text-align: center;
}
head {
    text-align: center;
}
body {
    text-align: center;
    background-color: beige;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding: 1px;}
img {
    height: 300px;
    width: 300px;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
p{
    width: 300px;
}
footer {
    padding:20px;
}
h5 {
    text-align: center;
}
nav {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgb(122, 122, 122);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
table, td {
    text-align: center;
    border: 3px solid;
    width: 800px;
    border-collapse: collapse;
    border-color: grey;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
th {
    text-align: center;
    border: 5px solid;
    border-collapse: collapse;
    background-color: white;
    border-color: grey;
    font-size: larger;
}
img {
    width: 70px;
    height: 70px;
}
div {
    padding: 15px;
}
nav {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgb(122, 122, 122);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}