/*styling for products_home.html*/
/*concepts somehwat referenced from smartphone products 1*/

h1{
    text-align: center;
    padding-top: 200px;
}
head {
    text-align: center;
}
body {
    text-align: center;
    background-color: beige;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding: 1px;}
img {
    height: 300px;
    width: 300px;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
p{
    width: 300px;
}
footer {
    padding:20px;
}
h5 {
    text-align: center;
}
nav {
    background-color: #333;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }