/*styling for products_home.html*/
/*concepts somehwat referenced from smartphone products 1*/

h1{
    text-align: center;
}
head {
    text-align: center;
}
body {
    text-align: center;
    background-color: beige;
}
body,h1{font-family: "Karma", sans-serif};

